<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body style="background-color: <%= style %>">
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>This is the placeholder for Team Activity 05</p>
            </div>
        </div>
        <div class="container">

        </div>

        <div>
            <form action="/ta05/counter" method="POST">
                <input type="hidden" name="counter" value=1>
                <button type="submit">+</button>
            </form>
            <form action="/ta05/counter" method="POST">
                <input type="hidden" name="counter" value=-1>
                <button type="submit">-</button>
            </form>
            <p> Counter =
                <%= counter %>
            </p>
        </div>
        <div>
            <form action="/ta05/change-style" method="POST">
                <input type="text" name="color" placeholder="color"> <button type="submit">Change Style</button>
            </form>
        </div>
        <div>
            <form action="/ta05/reset" method="POST">
                <button type="submit">Reset Session</button>
            </form>
        </div>


</body>

</html>