<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body onload="display()">
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                <%= title %>
            </h1>
            <p>This is the placeholder for Team Activity 10</p>
            <div class="container">
                <p> Lists and Names: No Repition Allowed! </p>
            </div>
        </div>
    </div>
    <p> Names</p>
    <ul id="list" value="">
    </ul>

    <input type="text" id="newName">
    <button onclick="add()">Add Name</button>
    <!-- <form action="/ta10/insert" method="POST">
        <input type="text" name="newName">
        <button type="submit">Add Name</button>
    </form> -->
<script src="/scripts/ta10.js"></script>

</body>

</html>